# -------------------------------
# .NET / Visual Studio
# -------------------------------

# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Rider settings
.idea/

# -------------------------------
# SQLite
# -------------------------------

# Ignore SQLite database files
*.db
*.db-shm
*.db-wal

# -------------------------------
# Logs
# -------------------------------

*.log

# -------------------------------
# NuGet Packages
# -------------------------------

# The packages folder can be ignored because of Package Restore
**/packages/*

# -------------------------------
# Other temp files
# -------------------------------

# Temporary files, backup files
*.tmp
*.bak
*.swp
*.DS_Store
